
.login_remembermecheckbox {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  color: #1d2129;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  cursor: pointer;
}

.login_remembermecheckbox div{
  margin-right: 6px;
  color: #1d2129;
  font-size: 12px;
  width: 12px;
  height: 12px;
  text-align: center;
  line-height: 12px;
  border: 1px solid #c8cad1;
  border-radius: 2px;
}